body { 
	background-color: black;
	color: white;
	font-family: Verdana, Arial, sans-serif; 
}
header { 
	height: 150px; 
	margin-left: 50px; 
}
h1 { 
	padding-top: 50px;
	padding-bottom: 0;
	margin-bottom: 0;
}
nav { 
	font-weight: bold;
	float: right; 
	width: 200px;
	margin-right: 2em;
}
nav ul { 
	list-style-type: none; 
}
main { 
	margin-left: 100px;
	margin-right: 250px; 
	padding-top: 1em; 
}
footer { 
	font-size: 0.70em;
	font-style: italic;
	text-align: center;
	padding: 1em; 
}
#jobTitle {
	margin-top: 0;
	padding-left: 2em;
	font-style: italic;
}